@import "tailwindcss";

@layer utilities {
  .flex-center {
    @apply flex items-center justify-center;
  }
  .flex-center-col {
    @apply flex items-center justify-center flex-col;
  }
}

@layer components {
  .container {
    @apply flex items-center justify-center flex-col h-[50dvh] w-full;
  }
  .text{
    @apply text-xl font-bold leading-6 
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #333;
  color: aliceblue;
}

.header {
  color: red;
}

.counter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.counter-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.counter button {
  margin: 10px;
  padding: 5px 10px;
  background-color: #00f7ff;
  color: #000;
  border-radius: 5px;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
}

.family {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.family h1 {
  font-size: calc(3rem + 8%);
}
.family button {
  font-size: calc(1.5rem + 8%);
  padding: 0.5rem;
  border-radius: 15px;
  background-color: #00f7ff;
}
.family h3 {
  font-size: calc(2rem + 8%);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.card {
  color: #000;
  background-color: #fff;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  width: 25%;
  border-radius: 30px;
  margin: 0 auto;
}
main h1 {
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
}
main .avatar {
  width: 15vw;
}

main button {
  background-color: #fff;
  border: none;
}

main .fav {
  background-color: #fff;
  width: 25px;
}

.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 60vh;
}

.signup-form {
  width: 20vw;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #00f7ff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.signup h1 {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}
.signup-form label {
  font-size: 1rem;
  color: #333;
  margin-top: 10px;
}

.signup-form input {
  width: 100%;
  min-width: 16.75rem;
  max-width: 16.75rem;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.signup-form button {
  min-width: 18rem;
  max-width: 18rem;
  margin-top: 20px;
  padding: 10px;
  background-color: #007bff;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.signup-form button:hover {
  background-color: #0056b3;
}
.signup-form #result {
  color: #fff;
}
