body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #333;
  color: aliceblue;
}

.header{
  color: red;
}

.counter{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}
.counter-container{
  display: flex;
  align-items: center;
  justify-content: center;
}
.counter button{
  margin: 10px;
  padding: 5px 10px;
  background-color: #00f7ff;
  color: #000;
  border-radius: 5px;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
}

.family{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.family h1{
  font-size: calc(3rem + 8%);
}
.family button{
  font-size: calc(1.5rem + 8%);
  padding: 0.5rem;
  border-radius: 15px;
  background-color: #00f7ff;
}
.family h3{
  font-size: calc(2rem + 8%);
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}
.card{
  color: #000;
  background-color: #fff;
  min-height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  width: 25%;
  border-radius: 30px;
  margin: 0 auto;
}
main h1{
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
}
main .avatar{
  width: 15vw;
}

main button{
  background-color: #fff;
  border: none;
}

main .fav{
  background-color: #fff;
  width: 25px;
  ;
}